*{padding: 0px;
margin: 0px;
color: white;
text-decoration: none;
font-size: 18px;}

#nav{background-color: #0f1111;
     height: 60px;}

#logo{color: #f08804;
font-size: 28px;} 

button{background-color: #f08804;} 

a{margin-right: 200px;}


#st{height: 195px; width: 195px; border: 2px solid black; background-color: rgba(128, 255, 185, 0.75); color: black;}

#nd{height: 195px; width: 195px;border:2px solid black;background-color: rgb(128, 255, 185,0.50);color: black;}

#rd{height: 195px; width: 195px;border:2px solid black;background-color: rgb(128, 255, 185,0.25);color: black;}

footer{background-color: #0f1111; height: 35px; text-align: center; font-size: 12px;}
